@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-btn {
    display: none;
  }
  .header-list {
    display: flex;
  }
  .header-addres-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-link-addres {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tb-1x.jpg);
    padding: 112px 0;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tb-2x.jpg);
    }
  }
  .hero-tittle {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    padding: 0 120px;
  }
  .strategy-list {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .strategy-item {
    width: calc((100% - 24px) / 2);
  }
  .icons {
  }

  .team-item {
    width: 264px;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    gap: 24px;
    margin: 0 auto;
  }
  .portfolio-list {
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
  .foot-web-social {
    display: flex;
    gap: 24px;
  }
  .foot-div-web {
    align-items: start;
    margin-bottom: 0;
  }
  .foot-social-text {
    text-align: left;
  }
  .foot-form {
    flex-direction: row;
  }
  .foot-subscribe-text {
    text-align: left;
  }
  .foot-div {
    align-items: flex-start;
    padding-left: 108px;
  }
  .modal {
    width: 408px;
    min-height: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0;
  }
  .header-addres-list {
    flex-direction: row;
  }
  .header-link-addres {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .header-addres {
    margin-left: auto;
  }
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-dt-1x.jpg);
    padding: 188px 0;
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-dt-2x.jpg);
    }
  }

  .hero-tittle {
    margin-bottom: 48px;
    padding: 0 331px;
  }
  .strategy {
    padding: 120px 0;
  }
  .icons {
    display: flex;
  }
  .strategy-list {
    gap: 24px;
  }
  .strategy-text {
    font-weight: 400;
  }
  .icons {
    visibility: visible;
  }
  .strategy-item {
    width: calc((100% - 72px) / 4);
  }
  .strategy-subtittle {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .team {
    padding: 120px 0;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .portfolio {
    padding: 120px 0 120px 0;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
  .foot-div {
    flex-direction: row;
  }
  .foot-subscribe {
    margin-left: 80px;
  }
  .foot-div-web {
    margin-right: 120px;
  }
  .foot-form {
    gap: 24px;
  }
}
